<h1>Horses#show</h1>
<h2><%= @horse.name %> <%= button_to("csv", params.merge(format: :csv), method: :get ,class: "btn btn-success") %></h2>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
    <% @results.attribute_names.each do |name| %>
      <th><%= name %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <% result.attributes.values_at(*@results.attribute_names).each do |d| %>
          <td> <%= d %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
